/*************/
/* CONNEXION */
/*************/

body {
  background: url(../img/background/portindustriel.jpg) no-repeat;
  background-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  justify-content: center;
  align-items: center;

  width: 75rem;
  border-radius: 50px;

  margin: 25rem auto;
  background-color: rgb(255, 255, 255, 0.9);
}

.header_connexion {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.4rem 0;
  background-color: #339af0;
  width: 75rem;
  border-radius: 50px 50px 0 0;
}

.header_title {
  font-size: 4.8rem;
  font-weight: 400;
  color: #fff;
}

.main_connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;

  width: 50rem;
}

.text_icon {
  width: 50rem;
  height: 5rem;
  border-radius: 10px;
  text-decoration: none;
  border: #aaa solid 1px;
  background-color: #eee;

  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  height: 35px;
  stroke: #868e96;
  padding-left: 8px;
}

.main_text_zone {
  border: none;
  background-color: #eee;
  height: 2.8rem;
  width: 78%;
  font-size: 2.4rem;
  color: #868e96;
  outline: none;
}

.main_text_zone::placeholder {
  color: #868e96;
}

.footer_connexion {
  background-color: #dee2e6;
  width: 75rem;
  font-size: 2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;

  border-radius: 0 0 50px 50px;
}

.footer_link:link,
.footer_link:visited {
  color: #212529;
  text-decoration: none;
}

.footer_link:hover,
.footer_link:active {
  text-decoration: underline;
}

i .icon {
  cursor: pointer;
}

#eye_off {
  display: none;
}

.text_connexion {
  font-size: 2.4rem;
  font-weight: 500;
}
