/* 

--- 01 TYPOGRAPHY SYSTEM ---

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONT WHEIGHTS:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

LINE HEIGHTS:
Default: 1
Small: 1.05
Medium: 1.2
Paragraphe default: 1.6

Letter spacing : 

--- 02 COLORS ---

Primary:
- #339AF0
Tints:
Shades:
- #297BC0
- #0A1F30
Accents:
Greys:
- #212529
- #eee
- #aaa
- #868E96
- #F8F9FA
- #E9ECEF

--- 05 SHADOWS ---

--- 06 BORDER-RADIUS ---

Default: 9px

--- 07 WHITE-SPACE ---

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #212529;
}

.btn {
  background-color: #339af0;
  border: none;
  width: 30rem;
  height: 5rem;
  border-radius: 100px;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;

  transition: background-color 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn:active {
  background-color: #297bc0;
}

.heading_primary {
  font-size: 9.6rem;
  font-weight: 500;
}
